@tailwind base;
@tailwind components;
@tailwind utilities;

.oracle-logo img:hover {
  filter: saturate(0%)
}

.cloudflare-logo img:hover {
  filter: saturate(0%)
}
.deepgram-logo img:hover {
  filter: saturate(0%)
}
.theworldgames-logo img:hover {
  filter: saturate(0%)
  }

  .oracle-logo img {
    filter: saturate(0%)
  }
  
  .cloudflare-logo img {
    filter: saturate(0%)
  }
  .deepgram-logo img {
    filter: saturate(0%)
  }
  .theworldgames-logo img {
    filter: saturate(0%)
    }  

.bg-black {
  background-color: #111827 !important;
}
.text-black-dark {
  color: #121212 !important;
}