@tailwind base;
@tailwind components;
@tailwind utilities;

.oracle-logo img:hover {
  content: url("/img/oracle-logo-color-400.svg");
}

.cloudflare-logo img:hover {
  content: url("/img/cloudflare-logo-color-400.svg");
}
.deepgram-logo img:hover {
  content: url("/img/deepgram-logo-color-400.svg");
}
.theworldgames-logo img:hover {
    content: url("/img/theworldgames-logo-color-400.svg");
  }

.bg-black {
  background-color: #111827 !important;
}
.text-black-dark {
  color: #121212 !important;
}